<li>
  <%= link_to h(subscription.subscriber.name), subscription.subscriber %>
  <%= link_to 'Remove', subscripton_path(@subscription), :method => :delete, :confirm => "Are you sure?", :html => { :class => 'small red'} if admin?  %>
</li>