<h2>Mailing Lists</h2>

<table>
<% @lists.each do |list| %>
	<tr>
		<td>
			<%= link_to h(list.name), list %>
		</td>
    	<td>
			<%=h list.description %>
		</td>
		<td>
			(<%= pluralize(list.subscriptions.size, 'subscriber') %>)
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New list', new_list_path %>
