<h2>All Topics</h2>

<table>
<% @topics.each do |topic| %>
	<tr>
        <td>
            [<%= @list.short_name %>]
        </td>
		<td>
			<%= link_to h(topic.name), list_topic_path(@list, topic) %>
		</td>
		<td>
			<%= time_ago_in_words(topic.created_at) %> ago
		</td>
        <td>
			(<%= pluralize(topic.messages.size, 'message') %>)
        </td> 
	</tr>
<% end %>
</table>

<br />

