<p class="top-right-links">
  <%= link_to 'Add a new server', new_server_path %>
</p>

<h2>Authorized Email Servers</h2>

<p>The application will accept incoming email from the servers listed here.</p>

<%= render @servers %>
