<li>
  <% if admin? %>
  
    <%= link_to h(subscription.subscriber.name), subscription.subscriber %>
    <%= link_to 'Remove', subscription, :method => :delete, :class => 'small red', :confirm => "Are you sure?" %>
    
  <% else %>
  
    <%=h subscription.subscriber.name %>
    
  <% end %>
</li>