<div class="search">
  <h2>Find a subscriber</h2>
  <%= text_field_tag :term, "", :class => "big-field" %>
  <span id="live_search_spinner" style="display:none">
    <%= image_tag "spinner3.gif" %>
  </span>

  <br />
</div>
