<div class="search">
  <h2>Find a subscriber</h2>

  <%= form_for :search, :url => "/subscribers/search", :method => :get do |f|%>
    <%= f.text_field :q, :class => "big-field" %>
  <% end %>

  <br />
</div>
