<tr>
  <td class="name-email">
    <span class="name">
      <%= link_to h(subscriber.name), edit_subscriber_path(subscriber) %>
    </span><br />
    <span class="email">
      <%= subscriber.email %>
    </span>
  </td>
  <td>
    <span class="lists">
      <%= subscriber.lists.collect{|l| link_to(l.name, l)}.join(", ") %>
    </span>
  </td>
  <td class="checkbox" style="text-align:right">
    <%= image_tag 'spinner.gif', :id => "spinner-admin-#{subscriber.id}", :style => 'display: none' %>
  </td>
</tr>
