<tr>
  <td class="name-email">
    <span class="name">
      <%= link_to subscriber.name, edit_subscriber_path(subscriber) %>
    </span><br />
    <span class="email">
      <%= subscriber.email %>
    </span>
  </td>
  <td>
    <span class="lists">
      <%= subscriber.lists.collect{|l| link_to(h(l.name), l)}.join(", ").html_safe %>
    </span>
  </td>
</tr>
