<%= render :partial => 'search' %>
<br />
<table class="subscribers">
	<tbody id="subscribers">
		<%= render :partial => @subscribers %>
	</tbody>
</table>

<%= will_paginate @subscribers %>
<%= focus_field "term" %>

