<p class="top-right-links"><%= link_to 'Add a new subscriber', new_subscriber_path %></p>
<%= render :partial => 'search' %>
<br />
<table class="subscribers">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Administrator</th>
    </tr>
  </thead>
	<tbody id="subscribers">
		<%= render @subscribers %>
	</tbody>
</table>

<%= paginate @subscribers %>

