<div style="float:right">
  <%= link_to 'Add a new subscriber', new_subscriber_path, class: "btn large" %>
</div>

<%= render 'search' %>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lists</th>
    </tr>
  </thead>
	<tbody id="subscribers">
		<%= render @subscribers %>
	</tbody>
</table>

<%= will_paginate @subscribers %>
