<h1>All Subscribers</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Admin</th>
	</tr>
	<%= render :partial => @subscribers %>
</table>

<br />

<%= link_to 'New subscriber', new_subscriber_path %>
