<p>
  <b>Name:</b>
  <%= @subscriber.name %>
</p>

<p>
  <b>Email:</b>
  <%= @subscriber.email %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
