html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  background: #e5e5e5;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

a {
  color: #264989;
  padding: 1px;
}

a:hover {
  color: #fff;
  background: #264989;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

h4 {
  font-size: 13px;
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
}

th {
  text-align: left;
}

.topic-row {
  padding: 5px;
}

.odd {
  background: #eef0fe;
}

.even {
  background: #fff;
}

.big-field {
  font-size: 16px;
  width: 40%;
  font-weight: bold;
  color: #111;
}

.small {
  font-size: 10px;
}

.red {
  color: red;
}


div#header {
  height: 40px;
  background: #eef0fe;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  padding: 25px;
  border-bottom: 1px solid #efeaff;
  border-color: #bcd6de;
}

div#header #header-left {

}

div#header #header-right {
  float: right;
  text-align: right;
}

div#flash-notice {
  font-size: 14px;
  font-weight: bold;
  background-color: #ddffe6;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: -25px;
  margin-right: -25px;
}

div#flash-alert {
  font-size: 14px;
  font-weight: bold;
  background-color: #ffd3da;
  color: red;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: -25px;
  margin-right: -25px;
}

div#main-container {
  width: 780px;
  min-height: 400px;
  background: #fff;
  border: 5px solid #ccc;
  margin: auto;
  margin-top: 15px;
  padding: 25px;
}

div#main-container-mini {
  width: 400px;
  min-height: 200px;
  background: #fff;
  border: 5px solid #ccc;
  margin: auto;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

div#page {
  margin-top: 15px;
  margin-bottom: 15px;
}

.top-right-links {
  float: right;
  font-size: 14px;
}

.top-right-links a {
  color: red;
}

.top-right-links a:hover {
  color: #fff;
  background: red;
}

.top-right-list {
  float: right;
  font-size: 12px;
}

.message-header {
  background: #dddddd;
  padding: 5px;
}

.message-body {
  padding: 5px;
}

.message {
  padding-bottom: 5px;
}

.list {
  background: #f2f2f2;
  border: 1px solid #d2d2d2;
  padding: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.list .name {
  font-size: 16px;
  font-weight: bold;
}


.list .sub-text a {
  color: red;
}

.list .sub-text a:hover {
  background: red;
  color: #fff;
}

.list .private {
  float: right;
}

table.subscribers {
  width: 100%;
}

table.subscribers tr {
  border-bottom: 1px solid #ccc;
}

table.subscribers td {
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}

table.subscribers td.name-email {
  width: 330px;
}

table.subscribers td span.name {
  font-size: 16px;
}

table.subscribers td span.email {
  font-size: 11px;
}

table.subscribers td span.lists a {
  color: #888;
}

table.subscribers td.checkbox {
  width: 60px;
}

table.subscribers-topics {
  width: 100%;
}

table.subscribers-topics td {
  background: #f2f2f2;
  border: 1px solid #d2d2d2;
  padding: 10px;
  margin-bottom: 10px;
}

#subscriptions li {
  line-height: 20px;
}
